extends s3_layout

block content
    #MainContent
        h2 #{title}
        hr
        br
        #fileupload.container(style='width:500px; margin:auto')
            #fileupload1.container(style='width:500px; margin:auto')
                h3 S3 Upload
                form#uploadform1.md-form(action="/s3/upload",method="post",enctype="multipart/form-data")
                    label(for="bucketname")
                    input#bucketname.form-control(type="text",name='bucketname',placeholder='Bucket Name')
                    br
                    #fileuploaderdiv1.custom-file
                        input#fileuploader1.custom-file-input(type="file",name="filetoupload")
                    hr
                    button#uploadbutton1.btn.btn-primary.btn-sm Upload
                br
                hr
                br
                h3 S3 Download
                label(for="bucketnametoget")
                input#bucketnametoget.form-control(type="text",name='bucketnametoget',placeholder='Bucket Name')
                label(for="filenametoget")
                input#filenametoget.form-control(type="text",name='filenametoget',placeholder='File Name')
                hr
                button#getbutton1.btn.btn-primary.btn-sm Download

                    
    #sideContent
        br
        br
        br
        br
        h2 #{title1}
        br
        h4 #{content1}
        br
        p #{logs}
        //- img(src="/images/alexa3.png", alt="alexa_png", align="center", height="500px")
